@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

/* Font classes */
.azeret-mono-regular {
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
}
.azeret-mono-medium {
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
}
.azeret-mono-semibold {
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
}
.azeret-mono-bold {
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
}
.azeret-mono-bolder {
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
}

/* colors */
.black-color{
    color: rgb(13, 19, 33);
}
.black-opa-color{
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.white-color{
    color: rgb(255, 255, 255);
}
.white-opa-color{
    color: rgba(255, 255, 255,0.7);
}
